body.phone #header {
    font-size: 43px;
    padding-left: 25px;
    height: 68px;
}

body.phone #content {
    padding-top: 73px;
    font-size: 25px;
}

body.phone #content div {
    padding: 6px;
}

body.phone #nav { width: calc(90% - 287.2px) /*calc(100% - 196.81px)*/; }

body.phone #header button.more {
    width: 38px;
    height: 38px;
}

body.phone .nav-box {
    width: 100vw;
    height: 100vh;
    top: -105vh;
}

body.phone .nav-box.active {
    top: 0;
}

body.phone .exit {
    font-size: 45px;
}

body.phone #nav-box_info {
    width: 100%;
    height: calc(100% - 51.2px);
    font-size: 25px;
}
