body:not(.phone) #header {
    font-size: 28px;
    padding-left: 35px;
    height: 46px;
    padding: 8px;
}

body:not(.phone) #content {
    padding: 12px;
    padding-top: 56px;
}

body:not(.phone) #nav { width: /*calc(100% - 287.2px)*/ calc(100% - 196.81px); }