body:not(.phone) #header {
    font-size: 28px;
    padding-left: 35px;
    height: 46px;
    padding: 8px;
}

body:not(.phone) #content {
    padding: 12px;
    padding-top: 56px;
    font-size: 20px;
}

body:not(.phone) #nav { width: /*calc(100% - 287.2px)*/ calc(100% - 196.81px); }

body:not(.phone) .nav-box {
    width: 25vw;
    left: 75vw;
    top: -200vh;
}

body:not(.phone) .nav-box.active {
    top: 46px;
}

body:not(.phone) .exit {
    font-size: 25px;
}

body:not(.phone) #nav-box_info {
    font-size: 15px;
    max-height: 200px;
}

body:not(.phone) #banner {
    font-size: 200%;
}