/*  
** Import fonts 
** - Exo 2 [600]
** - Roboto [500]
** - Palette Mosaic
** - Audiowide
*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* { box-sizing: border-box!important; }

#banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
    color: black;
    transition: margin-left 1.7s;
    font-family: 'Palette Mosaic', cursive;
    font-size: 250%;
    z-index: 2137;
}

#header {
    font-family: 'Palette Mosaic', cursive;
    position: fixed;
    padding: 8px;
    background: black;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

#nav {
    font-family: serif;
    margin-top: -3px;
}

#content {
    width: 100vw;
    height: 100vh;
    font-family: "Exo 2", "Roboto", Roboto, sans-serif;
    overflow: auto;
}

#content a {
    display: inline-block;
    background-color: transparent;
    color: rgb(0, 91, 8);
    padding: 1px 0;
    height: 20px;
    cursor: pointer;
    font-family: "Exo 2", "Roboto", Roboto, sans-serif;
}

#content a::after, #content a::before {
    content: "";
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 0;
    transition: 
        height 0.3s cubic-bezier(0,.07,.1,1.02),
        background 0.3s cubic-bezier(0,.07,.1,1.02);
}

#content a::after { margin-left: 3px; }
#content a::before { margin-right: 3px; }

#content a:hover::after, #content a:hover::before {
    height: 100%;
    background: black;
}

#header button:not(.more) {
    font-family: 'Audiowide', cursive;
    background: transparent;
    border: transparent;
    border-radius: 0;
    border-bottom: 4px solid rgb(255 150 0 / 70%);
    padding: 2px 7px;
    margin-right: 5px;
    color: white;
    font-size: 70%;
    transition: border-bottom 0.4s ease-in-out, background 0.5s 0.3s ease-in-out;
    cursor: pointer;
}

#header button.thisPage {
    border-bottom: 4px solid rgb(100 255 100 / 70%);
}

#header button:not(.more):not(.thisPage):hover {
    border-bottom: 7px solid rgb(0 70 225 / 70%);
    background: rgb(255 255 255 / 30%);
}

#header button.more {
    background: transparent;
    border: transparent;
    border-radius: 0;
    padding: 0;
    color: white;
    font-size: 70%;
    cursor: pointer;
    transform: rotate(90deg)
}

#header button.onlyBack{ transition: background 0.5s ease-in-out; }

#header button.onlyBack:hover { background: rgb(255 255 255 / 30%); }

#nav {
    margin-left: 15px;
    text-align: right;
}

.nav-box {
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    background: transparent;
    position: absolute;
    z-index: 3;
    padding: 12px;
    color: transparent;
}

.nav-box.active {
    background: rgb(30 30 30);
    color: white;
}

.nav-box .exit { display: flex; justify-content: end; }

#nav-box_info {
    font-family: 'Audiowide', cursive;
    color: wheat; cursor: default;
    overflow: auto;
}
#nav-box_info a { color: white }

hr { 
    border: 0px solid black;
    background: rgb(147, 147, 147); 
    height: 3px;
}

h1, h2, h3, h4, h5, h6 { margin-left: 2.5%; margin-top: 0.4rem; }
h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 160%;}
h4 {font-size: 120%;}
h5 {font-size: 80%;}
h6 {font-size: 50%;}

#progress_scroll {
    height: 5px;
    background: orange;
    width: 100%;
}

ul { margin: 5px 0; }

video#hourBanner {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#los-dowcipów #qu {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    background: rgb(147, 147, 147);
    color: transparent;
    transition:
        color 0.1s linear,
        background 0.1s linear;
}

#los-dowcipów #qu.odslon {
    cursor: auto;
    color: black;
    background: transparent;
}

/* Loading icon */
#loading {
  display: inline-block;
  margin: 15px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}