/*  
** Import fonts 
** - Exo 2 [600]
** - Roboto [500]
** - Palette Mosaic
** - Audiovide
*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Styles */
body {
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box!important; }
*::-webkit-scrollbar { display: none; }

#header {
    font-family: 'Palette Mosaic', cursive;
    padding: 8px;
    background: black;
    width: 100vw;
    color: white;
    box-sizing: border-box;
    z-index: 1;
}

#nav {
    font-family: serif;
    margin-top: -3px;
}

#content {
    width: 100vw;
    height: 100vh;
    font-family: "Exo 2", "Roboto", Roboto, sans-serif;
    overflow: auto;
}

#header button:not(.more) {
    font-family: 'Audiowide', cursive;
    background: transparent;
    border: transparent;
    border-radius: 0;
    border-bottom: 4px solid rgb(255 150 0 / 70%);
    padding: 2px 7px;
    margin-right: 5px;
    color: white;
    font-size: 70%;
    transition: border-bottom 0.4s ease-in-out, background 0.5s 0.3s ease-in-out;
    cursor: pointer;
}

#header button.thisPage {
    border-bottom: 4px solid rgb(100 255 100 / 70%);
}

#header button:not(.more):not(.thisPage):hover {
    border-bottom: 7px solid rgb(0 70 225 / 70%);
    background: rgb(255 255 255 / 30%);
}

#header button.more {
    background: transparent;
    border: transparent;
    border-radius: 0;
    padding: 0;
    color: white;
    font-size: 70%;
    cursor: pointer;
    transform: rotate(90deg)
}
#header button.onlyBack{ transition: background 0.5s ease-in-out; }

#header button.onlyBack:hover { background: rgb(255 255 255 / 30%); }

#nav {
    margin-left: 15px;
    text-align: right;
}

.nav-box {
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    background: transparent;
    position: absolute;
    z-index: 3;
    padding: 12px;
    color: transparent;
}

.nav-box.active {
    background: rgb(30 30 30);
    color: white;
}

.nav-box .exit { display: flex; justify-content: end; }

#nav-box_info {
    font-family: 'Audiowide', cursive;
    color: wheat; cursor: default;
    overflow: auto;
}
#nav-box_info a { color: white }

hr { 
    border: 0px solid black;
    background: rgb(147, 147, 147); 
    height: 3px;
}

h1, h2, h3, h4, h5, h6 { margin-left: 2.5%; margin-top: 0.4rem; }
h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 160%;}
h4 {font-size: 120%;}
h5 {font-size: 80%;}
h6 {font-size: 50%;}

#progress_scroll {
    height: 5px;
    background: orange;
    width: 100%;
}

ul { margin: 5px 0; }