@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

@keyframes btn-an {
    from {
        background: transparent;
        color: black;
    } to {
        background: rgb(0, 0, 0, 0.15);
        color: transparent;
    }
}

*, *::after, *::before { 
    font-family: "Exo 2", sans-serif; 
    box-sizing: border-box;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 8px;
    background: wheat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

td, th {
    padding: 5px;
    background: lightgray;
    border: 2px solid black;
}

table#shop th.big { padding: 5px 15px;}
table#shop td.small { width: calc(100vw - 36px); }
table#shop :not(.big) { font-size: 20px; }
table#shop .big { font-size: 35px; }
table#shop div { text-align: center; margin: 5px 0; }

#main div {display: inline-block;}

button {
    border: none;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#mainBtn { 
    width: 300px;
    font-size: 40px;
    padding: 20px 0;
}
button#mainBtn:disabled {
    color: transparent;
    animation-name: btn-an;
    animation-duration: 1s;
}

button.buttonShop {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
}

#delete {
    width: 100px;
    position: absolute;
    top: 10px;
    display: inline-block;
    left: calc(100vw - 120px);
}

@media (max-width: 413px) {
    #delete {
        position: static;
        margin-top: 15px;
        width: 94.4%;
        display: block;
        margin-bottom: 25px;
    }
}