@keyframes focus {
	from {
		background-color: royalblue;
		border-style: none;
		border-radius: 0px;
	} to {
		background-color: rgb(30, 50, 109);
		border-style: none;
		border-radius: 10px;
	}
}

@keyframes NNormal {
	from {
		background-color: rgb(30, 50, 109);
		border-style: none;
		border-radius: 10px;
	} to {
		background-color: royalblue;
		border-style: none;
		border-radius: 0px;
	}
}

@keyframes distabled {
	from {
		background-color: black;
		border-style: none;
		border-radius: 10px;
	} to {
		background-color: rgb(68, 68, 68);
		animation-name: distabled;
		animation-duration: .5s;
	}
}

.button {
	color: lightgray;
	font-size: 24px;
	font-family: 'Inconsolata';
	font-weight: 700;
	background-color: royalblue;
	border-style: none;
	border-radius: 0px;
	margin-right: 7px;
	padding: 20px;
	min-width: 80px;
	float: left;
	animation-name: NNormal;
	animation-duration: .5s;
}

.button:disabled {
	background-color: rgb(68, 68, 68);
	animation-name: distabled;
	animation-duration: .5s;
}

.button:hover:not(:disabled) {
	background-color: rgb(30, 50, 109);
	border-style: none;
	border-radius: 10px;
	animation-name: focus;
	animation-duration: .5s;
}

.button:active:not(:disabled) {
	background-color: black;
	border-style: none;
	border-radius: 10px;
}

.d {
	color: darkgrey;
}