body
{
	background-color: #448577;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
	font-weight: 700;
}

#statystyki {
	margin-top: 5px;
	height: 37px;
	padding-left: 10px;
	font-size: 33px;
	width: auto;
	border-left: 4px solid gray;
	color: lightgray;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
}

#pojemnik
{
	margin-top: auto;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#plansza
{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}

#szubienica
{
	float: left; 
	width: 900px;
	min-height: 50px;
}

#alfabet
{
	text-align: center;
	float: left; 
	width: 900px;
	min-height: 200px;
	margin-bottom: 7px;
}

.zycia
{
	border-bottom: 4px solid rgb(0, 170, 0);
	background-color: green;
	width: 99px;
	height: 30px;
	float: left;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #1f5044;
	color: white;
	border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:white;
}